<div class="quality">
    <h2 class="text-center"><span class="text-uppercase">Handover</span> only sorts out the high quality used clothing bales for you</h2>
    <ol class="quality-list">
        <li>Sorting standard of <span> A grade quality</span>: No stain, no torn, no pilling, no hole, no over-used, no fade… what we offer is only offer good condition, fashion style, colorful and clean!</li>
        <li>Correct sorting ways make us have <span>regular buyers over 60 countries</span>.</li>
        <li><span>Factory owner</span>, directly control quality and production by ourselves.</li>
        <li>Over <span>100 kinds of items</span> for your selection.Gently used clothi</li>
        <li>Each country has its own particular requirements, we can adjust the classification accordingly.</li>
        <li>Based on our <span>10 years’ experience</span>, give you appropriate suggestion for your target market.</li>
    </ol>
    <div class="quality-img row">
        <div class="col-6 offset-3">
            <img src="img/Zagumi-Details_03-1.jpg" alt="" class="w-100">
        </div>
    </div>
</div>

<style>
.quality {
    margin-top: 40px;
}
.quality ol {
    max-width: 880px;
    margin: 0 auto;
    margin-top: 20px;
}
.quality ol li {
    list-style: decimal;
}
.quality ol li span {
    color: red;
}    
</style>

