<div class="cart container">
    <div class="row">
        <div class="col-lg-6">
            <ul class="w-100">
                <li class="row">
                    <div class="col-4">
                        img
                    </div>
                    <div class="col-4">
                        Nmae
                    </div>
                    <div class="col-4">
                        Price
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-6"></div>
    </div>
</div>