<div class="login container">
    <div class="row">
        <div class="col-lg-4 offset-2 d-flex align-items-center">
            <img src="../../img/logo-png.png" alt="logo" class="w-100">
        </div>
        <div class="col-lg-4 d-flex align-items-center">
            <form name="loginForm" class="w-100">
                <div class="mb-3">
                  <label for="emailLogin" class="form-label">Enter your email</label>
                  <input type="email" class="form-control" name="emailLogin" id="emailLogin" ng-model="emailLogin">
                </div>
                <div class="mb-3">
                  <label for="passLogin" class="form-label">Enter password</label>
                  <input type="password" class="form-control" name="passLogin" id="passLogin" ng-model="passLogin">
                </div>
                <button type="submit" class="btn btn-success" ng-click="loginSubmit(emailLogin, passLogin)">Login</button>
            </form>
        </div>
    </div>
</div>