<div class="payment container">
    <h2 class="text-center">PAYMENT</h2>
    <div class="payment-box d-flex align-items-center justify-content-center">
        <div class="payment-item">
            <img src="img/payment-1.png" alt="">
            <div>Cash</div>
        </div>
        <div class="payment-item">
            <img src="img/payment-2.png" alt="">
            <div>Bank transfer</div>
        </div>
        <div class="payment-item">
            <img src="img/payment-3.png" alt="">
            <div>Mastercard</div>
        </div>
        <div class="payment-item">
            <img src="img/payment-4.png" alt="">
            <div>Asia pay</div>
        </div>
        <div class="payment-item">
            <img src="img/payment-5.png" alt="">
            <div>Visa</div>
        </div>
    </div>  
</div>

<style>
.payment {
    margin-top: 40px;
    margin-bottom: 10px;
}
.payment-box {
    margin-top: 30px;
}
.payment-item {
    width: 140px;
    text-align: center;
}
.payment-item img {
    margin: 0 auto;
    width: 40px;
    height: 30px;
    margin-bottom: 10px;
}
</style>